.nav-item:hover{
    background-color: #273582;
}
.dropdown-menu{
    background-color: #080808;

}
.dropdown-item:hover{
    color: white;
    background-color: #2a7634;
}

h5{
    text-transform: uppercase;
}